/* http://cssdesk.com/KpfAN */

/* Framework */
html,
body {
/*font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 200;
color: #333;
margin: 0;
background-color: rgb(235, 235, 235);
line-height: 1.28;
padding: 0;
text-align: left;
direction: ltr;
unicode-bidi: embed;
width: 100%;
height: 100%;
}

h1, h2, h3, h4, h5, h6 { border: none; font-weight: 200;}

b, th {font-weight: 500;}

#page {
height: auto;
min-height: 100%;
}

header {
	background: #563d7c;
	border-bottom: 1px solid #463265;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	/*width: 100%;*/
	z-index: 300;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
	margin: 0px -20px 0px -20px;
}

header .inner, footer .inner {
margin: 0 auto;
padding: 0;
/*width: 1064px;*/
}

header #logo {
	float: left;
	margin-left: 20px;
	color: white;
	font-size: 24px;
	font-weight: 200;
	letter-spacing: 2px;
}

header #logo a {
	color: white;
	text-decoration: none;
}

header #social {
	float: right;
	margin-right: 20px;
	color: white;
}

header #social a {
	color: white;
	text-decoration: none;
}

header #social a:hover {
color: #1769FF;
}


#frame2 {
	background: #fff;
	-webkit-border-radius: 2px;
	padding: 20px;
	margin: 0 auto;
	max-width: 1024px;
	/*min-height: 600px;*/
	overflow: hidden;
	height: auto;
	position: relative;
	min-height: 700px;
	/*border-top: 4px solid #0098d7;*/
	border: 1px solid rgb(230, 230, 230);
}

#frame1 {
	padding: 20px 0 40px 0;
	/*height: 100%;*/
	/*min-height: 600px;*/
}

aside {
float: left;
width: 140px;
border-right: 1px solid #eee;
/*position: absolute;*/
background: #f9f9f9;
margin-top: 20px;
margin-left: -20px;
padding: 20px;
/*height: 100%;*/
height: 100%;
position: absolute;
border-top: 1px solid #eee;
}

aside #tools {
bottom: 0;
margin-top: 24px;
position: relative;
margin-bottom: 20px;
width: 140px;
}

article {
margin-left: 180px;
font-size: 13px;
line-height: 18px;
/*height: 100%;*/
/*min-height: 600px;*/
margin-top: 20px;
}

article .article-title {
font-size: 24px;
font-weight: 200;
/*letter-spacing: -1px;*/
margin: 0px -20px 20px -20px;
text-rendering: optimizelegibility;
background: white;
border-top: 1px solid #eee;
margin-bottom: 20px;
padding-bottom: 20px;
padding-top: 20px;
padding-left: 20px;
}

footer {
	clear: both;
	width: 100%;
	z-index: 300;
	color: #a1a1a1;
	bottom: 17px;
	margin-top: 34px;
}

footer .inner {
	margin-top: -60px;
}

#subnav {
border-bottom: 1px solid #eee;
border-top: 1px solid #eee;
background-color: #f9f9f9;
padding-right: 10px;
margin-bottom: 26px;
margin-left: -20px;
margin-right: -20px;
margin-top: -20px;
height: 34px;
line-height: 34px;
}

.editsection {
	color: #f2f2f2;
	font-size: 80%;
}

.editsection a {
	color: #f2f2f2;
	font-size: 90%;
}

#toc, .toc {
	border: 1px solid #eee;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 85%;
}

.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel .list-group {
  margin: 15px -15px -15px;
}

.panel .list-group .list-group-item {
  border-width: 1px 0;
}

.panel .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel .list-group .list-group-item:last-child {
  border-bottom: 0;
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 500;
}

.panel-title > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.panel-primary {
  border-color: /*#428bca*/ #463265;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: /*#428bca*/ #563d7c;
  border-color: /*#428bca*/ #463265;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-lg {
  padding: 24px;
  border-radius: 6px;
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
}

.label {
  display: inline;
  padding: .25em .6em;
  font-size: 60%;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  background-color: #999999;
  border-radius: .25em;
}

.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  background-color: #808080;
}

.label-danger {
  background-color: #d9534f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.label-success {
  background-color: #5cb85c;
}

.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}

.label-info {
  background-color: /*#428bca*/ #563d7c;
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}

/* ------------------------------------------
CSS3 FACEBOOK-STYLE BUTTONS (Nicolas Gallagher)
Licensed under Unlicense
http://github.com/necolas/css3-facebook-buttons
------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------------- BUTTON */

.uibutton { 
    position: relative; 
    z-index: 1;
    overflow: visible; 
    display: inline-block; 
    padding: 0.3em 0.6em 0.375em; 
    border: 1px solid #999; 
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none; 
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; 
    white-space: nowrap; 
    cursor: pointer; 
    /* outline: none; */
    color: #333; 
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.uibutton:hover,
.uibutton:focus,
.uibutton:active {
    border-color: #777 #777 #666;
}

.uibutton:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* ............................................................................................................. Icons */

.uibutton.icon:before {
    content: "";
    position: relative; 
    top: 1px; 
    float:left;
    width: 10px; 
    height: 12px; 
    margin: 0 0.5em 0 0; 
    background: url(fb-icons.png) 99px 99px no-repeat;
}

.uibutton.edit:before  { background-position: 0 0; }
.uibutton.add:before  { background-position: -10px 0; }
.uibutton.secure:before  { background-position: -20px 0; }
.uibutton.prev:before  { background-position: -30px 0; }
.uibutton.next:before  { float:right; margin: 0 -0.25em 0 0.5em; background-position: -40px 0; }

/* ------------------------------------------------------------------------------------------------------------- BUTTON EXTENSIONS */

/* ............................................................................................................. Large */

.uibutton.large {
    font-size:13px;
}

/* ............................................................................................................. Submit, etc */

.uibutton.confirm {
    border-color: #29447E #29447E #1A356E;
    color: #fff;
    background-color: #5B74A8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
}

.uibutton.confirm:active {
    border-color: #29447E;
    background: #4F6AA3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ............................................................................................................. Special */

.uibutton.special {
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    background-color: #69A74E;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75ae5c), to(#67a54b));
    background-image: -moz-linear-gradient(#75ae5c, #67a54b);
    background-image: -o-linear-gradient(#75ae5c, #67a54b);
    background-image: linear-gradient(#75ae5c, #67a54b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c', EndColorStr='#67a54b'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
}

.uibutton.special:active {
    border-color: #3B6E22;
    background: #609946;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* ------------------------------------------------------------------------------------------------------------- BUTTON GROUPS */

.uibutton-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.uibutton + .uibutton,
.uibutton + .uibutton-group,
.uibutton-group + .uibutton,
.uibutton-group + .uibutton-group {
    margin-left: 3px;
}

.uibutton-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.uibutton-group .uibutton {
    float: left;
    margin-left: -1px; 
}

.uibutton-group .uibutton:hover,
.uibutton-group .uibutton:focus,
.uibutton-group .uibutton:active {
    z-index:2;
}

.uibutton-group > .uibutton:first-child,
.uibutton-group li:first-child .uibutton { 
    margin-left: 0; 
}

/* ------------------------------------------------------------------------------------------------------------- BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */

.uibutton-toolbar {
    padding: 6px;
    border-top: 1px solid #ccc;
    background: #f2f2f2;
}

.uibutton-toolbar .uibutton,
.uibutton-toolbar .uibutton-group {
    vertical-align: bottom;
}

.alert {
  padding: 15px 35px 15px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 2px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert hr {
  border-top-color: #f8e5be;
}

.alert .alert-link {
  font-weight: bold;
  color: #a47e3c;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #356635;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger hr {
  border-top-color: #e6c1c7;
}

.alert-danger .alert-link {
  color: #953b39;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #2d6987;
}

/* OCTICONS */

@font-face {
font-family:octicons;
src:url(https://github.com/assets/octicons-880d26f56022a5f3db1e26c81ac5f4aa2ee82c5f.eot#iefix) format(embedded-opentype),url(https://github.com/assets/octicons-5eaec6fc1975472c3c7f212ef33138bdaf97e600.woff) format(woff),url(https://github.com/assets/octicons-0bdba0b518396976dca0d630c1676433fe97a478.ttf) format(truetype),url(https://github.com/assets/octicons-e0754e99e9cf6e1d2c0ed2e35ca579a8c62e6b9b.svg#octicons) format(svg);
font-weight:400;
font-style:normal;
}

.octicon {
font:normal normal 16px octicons;
line-height:1;
display:inline-block;
text-decoration:none;
-webkit-font-smoothing:antialiased;
color: #ccc;
}

.mega-octicon {
font:normal normal 32px octicons;
line-height:1;
display:inline-block;
text-decoration:none;
-webkit-font-smoothing:antialiased;
}


.octicon:a, .octicon:visited {
color: #eee;
text-decoration: none;
}
.octicon:hover {
color: #1769FF;
}

.octicon-alert:before {
content:'\f02d';
}

.octicon-alignment-align:before {
content:'\f08a';
}

.octicon-alignment-aligned-to:before {
content:'\f08e';
}

.octicon-alignment-unalign:before {
content:'\f08b';
}

.octicon-arrow-down:before {
content:'\f03f';
}

.octicon-arrow-left:before {
content:'\f040';
}

.octicon-arrow-right:before {
content:'\f03e';
}

.octicon-arrow-small-down:before {
content:'\f0a0';
}

.octicon-arrow-small-left:before {
content:'\f0a1';
}

.octicon-arrow-small-right:before {
content:'\f071';
}

.octicon-arrow-small-up:before {
content:'\f09f';
}

.octicon-arrow-up:before {
content:'\f03d';
}

.octicon-beer:before {
content:'\f069';
}

.octicon-book:before {
content:'\f007';
}

.octicon-bookmark:before {
content:'\f07b';
}

.octicon-broadcast:before {
content:'\f048';
}

.octicon-bug:before {
content:'\f091';
}

.octicon-calendar:before {
content:'\f068';
}

.octicon-check:before {
content:'\f03a';
}

.octicon-checklist:before {
content:'\f076';
}

.octicon-chevron-down:before {
content:'\f0a3';
}

.octicon-chevron-left:before {
content:'\f0a4';
}

.octicon-chevron-right:before {
content:'\f078';
}

.octicon-chevron-up:before {
content:'\f0a2';
}

.octicon-circle-slash:before {
content:'\f084';
}

.octicon-clippy:before {
content:'\f035';
}

.octicon-clock:before {
content:'\f046';
}

.octicon-cloud-download:before {
content:'\f00b';
}

.octicon-cloud-upload:before {
content:'\f00c';
}

.octicon-code:before {
content:'\f05f';
}

.octicon-color-mode:before {
content:'\f065';
}

.octicon-comment:before {
content:'\f02b';
}

.octicon-comment-add:before {
content:'\f06f';
}

.octicon-comment-discussion:before {
content:'\f04f';
}

.octicon-credit-card:before {
content:'\f045';
}

.octicon-dashboard:before {
content:'\f07d';
}

.octicon-database:before {
content:'\f096';
}

.octicon-device-camera:before {
content:'\f056';
}

.octicon-device-camera-video:before {
content:'\f057';
}

.octicon-device-desktop:before {
content:'\f27c';
}

.octicon-device-mobile:before {
content:'\f038';
}

.octicon-diff:before {
content:'\f04d';
}

.octicon-diff-added:before {
content:'\f06b';
}

.octicon-diff-ignored:before {
content:'\f099';
}

.octicon-diff-modified:before {
content:'\f06d';
}

.octicon-diff-removed:before {
content:'\f06c';
}

.octicon-diff-renamed:before {
content:'\f06e';
}

.octicon-ellipsis:before {
content:'\f09a';
}

.octicon-eye:before {
content:'\f04e';
}

.octicon-eye-unwatch:before {
content:'\f01e';
}

.octicon-eye-watch:before {
content:'\f01d';
}

.octicon-file-add:before {
content:'\f086';
}

.octicon-file-binary:before {
content:'\f094';
}

.octicon-file-code:before {
content:'\f010';
}

.octicon-file-directory:before {
content:'\f016';
}

.octicon-file-directory-create:before {
content:'\f095';
}

.octicon-file-media:before {
content:'\f012';
}

.octicon-file-pdf:before {
content:'\f014';
}

.octicon-file-submodule:before {
content:'\f017';
}

.octicon-file-symlink-directory:before {
content:'\f0b1';
}

.octicon-file-symlink-file:before {
content:'\f0b0';
}

.octicon-file-text:before {
content:'\f011';
}

.octicon-file-zip:before {
content:'\f013';
}

.octicon-gear:before {
content:'\f02f';
}

.octicon-gift:before {
content:'\f042';
}

.octicon-gist:before {
content:'\f00e';
}

.octicon-gist-fork:before {
content:'\f079';
}

.octicon-gist-new:before {
content:'\f07a';
}

.octicon-gist-private:before {
content:'\f00f';
}

.octicon-gist-secret:before {
content:'\f08c';
}

.octicon-git-branch:before {
content:'\f020';
}

.octicon-git-branch-create:before {
content:'\f098';
}

.octicon-git-branch-delete:before {
content:'\f09b';
}

.octicon-git-commit:before {
content:'\f01f';
}

.octicon-git-compare:before {
content:'\f0ac';
}

.octicon-git-fork-private:before {
content:'\f021';
}

.octicon-git-merge:before {
content:'\f023';
}

.octicon-git-pull-request:before {
content:'\f009';
}

.octicon-git-pull-request-abandoned:before {
content:'\f090';
}

.octicon-globe:before {
content:'\f0b6';
}

.octicon-graph:before {
content:'\f043';
}

.octicon-history:before {
content:'\f07e';
}

.octicon-home:before {
content:'\f08d';
}

.octicon-horizontal-rule:before {
content:'\f070';
}

.octicon-hourglass:before {
content:'\f09e';
}

.octicon-hubot:before {
content:'\f09d';
}

.octicon-info:before {
content:'\f059';
}

.octicon-issue-closed:before {
content:'\f028';
}

.octicon-issue-opened:before {
content:'\f026';
}

.octicon-issue-reopened:before {
content:'\f027';
}

.octicon-jersey:before {
content:'\f019';
}

.octicon-jump-down:before {
content:'\f072';
}

.octicon-jump-left:before {
content:'\f0a5';
}

.octicon-jump-right:before {
content:'\f0a6';
}

.octicon-jump-up:before {
content:'\f073';
}

.octicon-key:before {
content:'\f049';
}

.octicon-keyboard:before {
content:'\f00d';
}

.octicon-light-bulb:before {
content:'\f000';
}

.octicon-link:before {
content:'\f05c';
}

.octicon-link-external:before {
content:'\f07f';
}

.octicon-list-ordered:before {
content:'\f062';
}

.octicon-list-unordered:before {
content:'\f061';
}

.octicon-location:before {
content:'\f060';
}

.octicon-lock:before {
content:'\f06a';
}

.octicon-log-in:before {
content:'\f036';
}

.octicon-log-out:before {
content:'\f032';
}

.octicon-logo-github:before {
content:'\f092';
}

.octicon-mail:before {
content:'\f03b';
}

.octicon-mail-read:before {
content:'\f03c';
}

.octicon-mail-reply:before {
content:'\f051';
}

.octicon-mark-github:before {
content:'\f00a';
}

.octicon-mark-twitter:before {
content:'\f0ae';
}

.octicon-megaphone:before {
content:'\f077';
}

.octicon-microscope:before {
content:'\f089';
}

.octicon-milestone:before {
content:'\f075';
}

.octicon-mirror-private:before {
content:'\f025';
}

.octicon-mirror-public:before {
content:'\f024';
}

.octicon-move-down:before {
content:'\f0a8';
}

.octicon-move-left:before {
content:'\f074';
}

.octicon-move-right:before {
content:'\f0a9';
}

.octicon-move-up:before {
content:'\f0a7';
}

.octicon-mute:before {
content:'\f080';
}

.octicon-mute-video:before {
content:'\f0b8';
}

.octicon-no-newline:before {
content:'\f09c';
}

.octicon-octoface:before {
content:'\f008';
}

.octicon-organization:before {
content:'\f037';
}

.octicon-pencil:before {
content:'\f058';
}

.octicon-person:before {
content:'\f018';
}

.octicon-person-add:before {
content:'\f01a';
}

.octicon-person-follow:before {
content:'\f01c';
}

.octicon-person-remove:before {
content:'\f01b';
}

.octicon-pin:before {
content:'\f041';
}

.octicon-plus:before {
content:'\f05d';
}

.octicon-podium:before {
content:'\f0af';
}

.octicon-primitive-dot:before {
content:'\f052';
}

.octicon-primitive-square:before {
content:'\f053';
}

.octicon-pulse:before {
content:'\f085';
}

.octicon-question:before {
content:'\f02c';
}

.octicon-quote:before {
content:'\f063';
}

.octicon-radio-tower:before {
content:'\f030';
}

.octicon-remove-close:before {
content:'\f050';
}

.octicon-repo:before {
content:'\f001';
}

.octicon-repo-clone:before {
content:'\f04c';
}

.octicon-repo-create:before {
content:'\f003';
}

.octicon-repo-delete:before {
content:'\f004';
}

.octicon-repo-force-push:before {
content:'\f04a';
}

.octicon-repo-forked:before {
content:'\f002';
}

.octicon-repo-pull:before {
content:'\f006';
}

.octicon-repo-push:before {
content:'\f005';
}

.octicon-repo-sync:before {
content:'\f04b';
}

.octicon-rocket:before {
content:'\f033';
}

.octicon-rss:before {
content:'\f034';
}

.octicon-ruby:before {
content:'\f047';
}

.octicon-screen-full:before {
content:'\f066';
}

.octicon-screen-normal:before {
content:'\f067';
}

.octicon-search:before {
content:'\f02e';
}

.octicon-server:before {
content:'\f097';
}

.octicon-settings:before {
content:'\f07c';
}

.octicon-squirrel:before {
content:'\f0b2';
}

.octicon-star:before {
content:'\f02a';
}

.octicon-star-add:before {
content:'\f082';
}

.octicon-star-delete:before {
content:'\f083';
}

.octicon-stop:before {
content:'\f08f';
}

.octicon-sync:before {
content:'\f087';
}

.octicon-tag:before {
content:'\f015';
}

.octicon-tag-add:before {
content:'\f054';
}

.octicon-tag-remove:before {
content:'\f055';
}

.octicon-telescope:before {
content:'\f088';
}

.octicon-three-bars:before {
content:'\f05e';
}

.octicon-tools:before {
content:'\f031';
}

.octicon-triangle-down:before {
content:'\f05b';
}

.octicon-triangle-left:before {
content:'\f044';
}

.octicon-triangle-right:before {
content:'\f05a';
}

.octicon-triangle-up:before {
content:'\f0aa';
}

.octicon-unfold:before {
content:'\f039';
}

.octicon-unmute:before {
content:'\f0ba';
}

.octicon-unmute-video:before {
content:'\f0b9';
}

.octicon-versions:before {
content:'\f064';
}

.octicon-x:before {
content:'\f081';
}

.octicon-zap:before {
content:'\26A1';
}






