<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
		
		<!-- Google Font-->
		<link href='http://fonts.googleapis.com/css?family=Mate' rel='stylesheet' type='text/css'>

    </head>
    <body>

	<!-- PAGE -->
	<div id="page">
	
	<!-- FRAME1 -->
	<div id="frame1">
		
		<!-- FRAME2 -->
		<div id="frame2">
			<!-- HEADER -->
			<header>
				<div class="inner">
					<div id="logo"><a href="/">{{ site.name }}</a></div>
					<div id="social"></div>
				</div>
			</header>
			
			<!-- ASIDE -->
			<aside>
				<p><a href="/">Home</a></p>
			</aside>

			<!-- ARTICLE -->
			<article>
				{{ content }}
			</article>
			<!-- /ARTICLE -->
			
			<div style="clear: both;"></div>
	
		</div>
		<!-- /FRAME2 -->
	
	</div>
	<!-- /FRAME1 -->

	<!-- FOOTER 
	<footer>
			<div class="inner">© H. K. Ilter</div>
	</footer> -->

	</div>
	<!-- /PAGE -->

	</body>
</html>
